.results {
    text-align: left;
}

.item .title {
    font-size: large;
    font-weight: bold;
}

#search:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0rem rgb(13 110 253 / 25%); ;
}
.modal-body::-webkit-scrollbar {
    display: none;
}

.list-item-documents { 
    opacity: 90%; 
    border-radius: 35px 5px; 
    padding: 16px;
    cursor: pointer;
    
}
